@import '~@blueprintjs/core/dist/variables.scss';

html, body, #app, .react-mosaic-example-app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.react-mosaic-example-app {
  .actions-label {
    margin-right: 10px;
  }

  .pt-logo {
    background: url(http://blueprintjs.com/assets/img/palantir.svg) no-repeat 50%;
    width: 50px;
    height: 50px;
  }
  .pt-app-title {
    color: #FFFFFF;
  }
  > .mosaic-root {
    height: calc(100% - 50px);
  }
}
body {
  user-select: none;
  -webkit-user-select: none;
}
.example-window {
  padding: 20px;
  text-align: center;
}